.aye{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: block;
}
html{
    overflow: hidden;
    scroll-behavior: smooth;
}
.bee{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: brown;
    display: block;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Tahoma, sans-serif;
    color: bisque;
    text-decoration: none;
}